body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(156, 151, 204, 0.678), rgba(63, 165, 224, 0.74));
    color: white;
    text-align: center;
}
.table-bg{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0 0;
}

.box-search{
    display: flex;
    justify-content: center;
    gap: .1%;
}