
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(156, 151, 204, 0.678), rgba(63, 165, 224, 0.74));
    color: white;
    text-align: center;
}
.tela-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
}
 .text-login{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    margin-top: 210px;
     max-height: 100%;
    max-width: 500px;}
a{
    text-decoration: none;
    color: white;
    border: 3px solid dodgerblue;
    border-radius: 10px;
    padding: 10px;
}
a:hover{
    background-color:dodgerblue
}
.inputSubmit {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.inputSubmit:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

.form-image img {
    width: 600px;
    margin-bottom: 15px;

}
